.coaches {
  &__inner {
    position: relative;
  }
  &__list {
    display: flex;
    margin: 0 -8px; 
  }
}
@media (max-width: 1200px) {
  
}
@media (max-width: 1024px) {
  
}
@media (max-width: 900px) {
}
@media (max-width: 650px) {
}
