@import '../../scss/vars';

.form-edit {
  display: none;
  background-color: #fff;
  padding: 40px;
  width: 800px;  
  &__title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__group {
    display: flex;
  }
  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &--btn {
      flex-direction: row;
    }
    &:last-child {
      margin-bottom: 0;
      margin-top: 50px;
    }
    &--group {
      width: calc(50% - 25px);
      margin-bottom: 0;
      & + & {
        margin: 0 0 0 50px;
      }
    }       
  }
  &__label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__input {
    height: 32px;
    padding: 0 10px;
    &--content {
      margin-bottom: 10px;
    }
  }
  &__textarea {
    min-height: 32px;
    max-height: 60px;
    padding: 10px;
    resize: none;
  }
  .btn + .btn{
    margin-left: 30px;
  }
}

