@import "../../scss/vars";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 10;
  &__inner {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--shadow {
      box-shadow: 0 4px 20px rgba(0,0,0,.4);
  }
}
.main-nav {
  display: flex;
  justify-content: space-between;
  &__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    display: none;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--mod {
      margin-right: 23px;
    }
  }
  &__item {
    margin: 0 12px;
  }
  &__link {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 16px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #060606;
      transition: transform .3s;
      transform: scaleX(0);
    }
    &:hover::after {
      transform-origin: center;
      transform: scaleX(1);
    }    
  }  
}
.burger-btn {
  display: none;
  height: 24px;
  width: 32px;  
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  &__line {
    height: 2px;
    width: 32px;
    background-color: $text;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 32px;
      background-color: $text;
      border-radius: 4px;
      transform: translateX(-50%);
    }
    &::before {
      top: -6px;
    }
    &::after {
      top: 6px;
    }
  }
}
.btn-menu {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;  
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .3s, color .3s;
  border: 2ps solid $text;
  color: $text;
  padding: 6px 33px 5px;  
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
.close-btn {
  display: none;
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {

}
@media (max-width: 900px) {
  .header {
    &__inner {
      height: 57px;
    }
  }  
  .lock {
    overflow: hidden;
  }  
  .main-nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 40px 24px;
    background-color: #fff;
    background-image: url(../../assets/images/Menu.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    z-index: 1;
    transition: transform 0.5s;
    transform: translateX(100%);
    overflow: hidden;
    border-bottom: 4px solid $accent;
    &.active {
      transform: translateX(0);
    }
    &__title {
      display: block;
      margin-bottom: 48px;
      position: relative;
      z-index: 1;
    }
    &__list {
      display: block;
      position: relative;
      z-index: 1;
      &--mod {
        margin-right: 0;
      }
    }
    &__item {
      margin: 0 0 40px;
      &:last-child {
        margin-bottom: 56px;
      }
    }
    &__link {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      &::after {
        width: 0px;
        height: 2px;
        transition: width .3s;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  .btn-menu {
    position: relative;
    z-index: 1;
  }
  .burger-btn {
    display: block;
  }
  .close-btn {
    display: block;
    height: 20px;
    width: 20px;
    border: none;
    position: absolute;
    top: 22px;
    right: 22px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -1px;
      margin-left: -12px;
      height: 2px;
      width: 24px;
      background-color: $bg;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }  
}
@media (max-width: 650px) {
  
}


