@import '../../scss/vars';

.form-log {
  background-color: #fff;
  padding: 30px;
  min-width: 450px;
  z-index: 1;
  transition: all .3s;
  &__row {
    display: flex;
    flex-direction: column;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-top: 40px;
    }
    &--btn {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__label {
    font-weight: 500;
    min-width: 100px;
    margin-right: 20px;
    flex: none;
  }
  &__input {
    height: 32px;
    flex-grow: 1;
    padding: 0 10px;
    border: 2px solid $text;    
  }
}
