@import "scss/vars";
@import "scss/fonts";
@import "scss/icons";

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
html,
body,
#root {
  height: 100%;  
}
body {
  font-size: 16px;
  // font-family: 'Roboto', sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 24px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
img {
  width: 100%;
}
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: 100%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1326px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-mb {
  margin-bottom: 100px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba($color: $text, $alpha: 0.5);
  height: 100vh;
  width: 100%;
  &__inner {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.active {
    display: block;
  }
}
.form-modal {
  background-color: #fff;
  padding: 30px;
  min-width: 450px;
  z-index: 1;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-top: 40px;
    }
  }
  &__label {
    font-weight: 500;
    min-width: 100px;
    margin-right: 20px;
    flex: none;
  }
  &__input {
    height: 30px;
    flex-grow: 1;
  }
  &__btn {
    padding: 3px 10px;
    width: calc( 50% - 20px);
    & + & {
      margin-left: 20px;
    }
  }
}
@media (max-width: 900px) {
  .section-mb {
    margin-bottom: 56px;
  }
}










