@import "scss/vars";
@import "scss/fonts";
@import "scss/icons";

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
html,
body,
#root {
  height: 100%;  
}
body {
  font-size: 16px;
  // font-family: 'Roboto', sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 24px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}
ul {
  list-style: none;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
img {
  width: 100%;
}
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: 100%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1326px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.banner {
  margin-top: 72px;
  margin-bottom: 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px;
    height: auto;
    width: 100%;
  }
  &__content {
    max-width: 460px;
    padding: 73px 77px 80px 0;
  }
  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1;
    max-width: 348px;
    margin-bottom: 16px;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
  }
  &__text {
    margin-bottom: 40px;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  &__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    display: none;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--mod {
      margin-right: 23px;
    }
  }
  &__item {
    margin: 0 12px;
  }
  &__link {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 16px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #060606;
      transition: transform .3s;
      transform: scaleX(0);
    }
    &:hover::after {
      transform-origin: center;
      transform: scaleX(1);
    }    
  }  
}
.burger-btn {
  display: none;
  height: 24px;
  width: 32px;  
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  &__line {
    height: 2px;
    width: 32px;
    background-color: $text;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 32px;
      background-color: $text;
      border-radius: 4px;
      transform: translateX(-50%);
    }
    &::before {
      top: -6px;
    }
    &::after {
      top: 6px;
    }
  }
}

.copyright {
  color: #fff;
}
.btn {
  font-family: 'Montserrat', sans-serif;font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border: 2px solid $accent;
  border-radius: 3px;
  padding: 11px 40px 10px;
  background-color: #fff;
  color: $accent;
  cursor: pointer;
  transition: background-color .3s, color .3s;
  &:hover {
    background-color: $accent;
    color: #fff;
  }
  &:focus {
    outline-color: $accent;
  }
}
.transformer-btn {
  font-family: 'Montserrat', sans-serif;font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .3s, color .3s;
  &__span {
    &--mobile {
      display: none;
    }
  }
  &--desktop {
    border-color: #000;
    color: $text;
    padding: 6px 33px 5px;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
.close-btn {
  display: none;
}
.title {  
  line-height: 1.1;
  font-weight: 700;
  &--h2 {
    margin-bottom: 24px;
    font-size: 36px;
  }
  &--h3 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.text {
  margin-bottom: 48px;
  max-width: 668px;
}
.services {
  margin-bottom: 50px;
  &__list {
    margin: 0 -8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  &__item {
    margin: 0 8px 50px;
  }
}
.services__list {
  .slick-track{
    display: flex;
  }
  .slick-slide {
    height: auto;
  }
}
.card {
  width: calc(33.3333% - 16px);
  &__inner {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
    border-radius: 2px;
    background-color: #fff;
    height: 100%;
  }
  &__header {
    position: relative;
    min-height: 420px;
    overflow: hidden; 
  }
  &__body {
    padding: 40px 24px;
  }
  &__item {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.offers {
  margin-bottom: 36px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: calc(25% - 30px);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 64px;
  }
  &__figure {
    margin-bottom: 20px;
  }
  &__img {
    line-height: 1;
    &::before {
      font-size: 70px;
      color: $accent;
    }
  }
  &__item-text {
    max-width: 187px;
    text-align: center;
  }
}
.coaches {
  margin-bottom: 100px;
  &__inner {
    position: relative;
  }
  &__text {
    margin-bottom: 0;
  }
}
.coaches-slider {
  .slick-track{
    display: flex;
    margin: 48px 0 60px;
  }
  .slick-slide {
    height: auto;
  }
}
.coaches-slider {
  margin: 0 -8px;
  &__item {
    margin: 0 8px;
  }
  .slick-arrow {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 0;
    line-height: 0;
    width: 40px;
    height: 28px;
    z-index: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &::before {
      content: '\E00A';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 28px;
      display: block;
      font-size: 28px;
      line-height: 1;
      font-family: "icons";
    }
    &.slick-disabled {
      &::before {
        opacity: 0.3;
      }
    }
  }
  .slick-next {
    left: calc(50% + 80px);
  }
  .slick-prev {
    left: calc(50% - 80px);
    &::before {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}
.slider-card {
  &__inner {
    display: flex;
    max-width: 640px;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
    border-radius: 2px;   
  }
  &__figure {
    overflow: hidden;
    max-width: 298px;
    min-width: 240px;
    width: 100%;
    min-height: 440px;
    height: auto;
    position: relative;
  }
  &__body {
    padding: 43px 33px;
    width: 100%;
  }
  &__num {
    font-weight: 700;
  }
  &__title {
    margin-bottom: 8px;
  }
  &__subtitle {
    margin-bottom: 24px;
  }
  &__list {
    margin-bottom: 88px;
  }
  &__item {
    margin-bottom: 16px;
    span {
      opacity: 0.5;
    }
  }
}
.counter {
  display: flex;
  align-items: center;
  width: 45px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba($color: $text, $alpha: 0.5);
  height: 100vh;
  width: 100%;
  &__inner {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.active {
    display: block;
  }
}
.form-modal {
  background-color: #fff;
  padding: 30px;
  min-width: 450px;
  z-index: 1;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-top: 40px;
    }
  }
  &__label {
    font-weight: 500;
    min-width: 100px;
    margin-right: 20px;
    flex: none;
  }
  &__input {
    height: 30px;
    flex-grow: 1;
  }
  &__btn {
    padding: 3px 10px;
    width: calc( 50% - 20px);
    & + & {
      margin-left: 20px;
    }
  }
}











